/* ForgotPassword.css */
body {
  margin-top: 150px; 
  margin-left: 100px; 
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom,  #150016,#76007C);
  color: white;
}
.forgot-password-page {
    padding: 20px;
    text-align: center;
  }
  
  .forgot-password-page .input-group {
    margin-bottom: 15px;
  }
  
  .forgot-password-page .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .forgot-password-page .input-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .forgot-password-page button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .forgot-password-page button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .forgot-password-page .message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
  }
  