/* General Styles */
body {
  margin: 0;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #111;
  color: white;
}

/* Sidebar */
.sidebar {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-left: 1%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.sidebar ul li {
  font-size: 24px;
  margin: 20px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar ul li:hover {
  color: #8e44ad;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 60px;
  width: 100%;
  margin-top: 20px;
}

/* Search Bar */
.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar-input {
  width: 50%;
  padding: 10px;
  border: 2px solid #FFE0E6;
  background-color: transparent;
  color: #FFE0E6;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  text-align: center;
}

/* Search Overlay */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  background-color: #222;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

.search-results {
  background: #333;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.search-item {
  padding: 10px;
  border-bottom: 1px solid #555;
  color: white;
  cursor: pointer;
}

.search-item:hover {
  background-color: #555;
}

/* Movie Grid */
.movie-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.movie {
  background: #222;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.movie img {
  width: 150px;
  border-radius: 8px;
}

/* Profile Icon */
.profile-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  height: 5%;
  width: 3%;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
      display: none;
  }

  .main-content {
      padding: 10px;
  }
}
